body {
    background-color: azure;
}

h1 {
    text-align: center;
}

body{
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

.center {
    
    justify-content: right;
}


    
